.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

[data-theme="dark"] .fa  {
    display: none
}

[data-theme="dark"] .light {
    display: none
}

[data-theme="light"] .dark {
    display: none
}