{% extends 'base.html.twig' %}

{% set title = 'Farm & Liquidity Pools - ' ~ chain.title ~ ' - Arrival Timeline' %}
{% set description = 'Searching and tracking farming and liqudify pools on ' ~ chain.title %}

{% block content %}
    <div class="text-center">
        <h2>Arrival Timeline</h2>
    </div>

    <div class="pt-1">
        {% for line in timeline|default([]) %}
            {% set new = line.items|default([]) %}

            <h3 class="text-center pt-4">{{ line.date }}</h3>
            {% for farms in new|default([])|batch(2) %}
                <div class="row">
                    {% for farm in farms %}
                        <div class="col-12 col-lg-6">
                            {{ farm|raw }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
