<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3 pb-5">
    {% for farm in platform.farms|default([]) %}
        <div class="col">
            {% include 'address/farm_card.html.twig' %}
        </div>
    {% endfor %}
</div>