<div class="card shadow-sm">
    <div class="card-body position-relative">
        {% include 'components/farm_badges.html.twig' with {'farm': farm.farm} only %}

        {% include 'components/card_address_farm.html.twig' with {
            'box': {
                'id': farm.farm.id|default('???'),
                'icon': farm.icon,
                'name': farm.farm.name,
                'link': farm.farm.link|default,
                'has_details': farm.farm.has_details|default(false),
                'apy': {
                    'percent': farm.farm.yield.apy|default(0)
                },
                'apr': {
                    'percent': farm.farm.yield.apr|default(0)
                },
                'capital': {
                    'usd': farm.deposit.usd|default,
                    'balance': farm.deposit.amount|default,
                },
                'yield': {
                    'usd': farm.deposit.usd_yield|default,
                    'balance': farm.deposit.yield|default,
                }
            }
        } %}

        <div class="d-flex pt-2">
            <div class="flex-grow-1 align-self-end">
                {% if farm.farm.platform|default %}
                    <div title="Origin Platform" class="align-self-end text-muted" style="font-size: 0.8em">{{ farm.farm.platform|capitalize }}</div>
                {% endif %}
            </div>

            <div class="text-end">
                <div class="d-flex" title="Rewards (Pending Harvest)">
                    {% for reward in farm.rewards|default([]) %}
                        {% include 'components/reward.html.twig' with {
                            'reward': {
                                'amount': reward.amount,
                                'usd': reward.usd|default,
                                'icon': '/token/' ~ reward.symbol|lower ~ '.png',
                                'token': reward.symbol
                            }
                        } %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if farm.farm.actions|default([])|length > 0 %}
            <div class="position-absolute bottom-0 end-0">
                <a class="btn btn-primary" rel="nofollow" data-bs-toggle="modal" data-bs-title="{{ farm.farm.name|u.truncate(20, '...') }} - Actions" data-bs-target="#exampleModal"  style="display:block; font-size: 0.6em; opacity: 0.5; line-height: 0.85em; padding:0.4em" href="{{ path('farm_action', {'address': address, 'farmId': farm.farm.id|md5}) }}">Actions</a>
            </div>
        {% endif %}
    </div>
</div>